@media screen and (max-width: 1020px) {
	body {
		min-width: 320px;
	}

	header {
		max-width: 1000px;
		width: 100%;
		padding: 20px 10px;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
	}

	#logo {		
		margin-right: 0;
	}

	#menu {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: calc(100% - 175px); /* Ð¨Ð¸Ñ€Ð¸Ð½Ð° Ð»Ð¾Ð³Ð¾Ñ‚Ð¸Ð¿Ð° */
		margin: 0;
		margin-left: auto;
	}

	#writeus {
		margin-right: auto;
	}

	#hphone {
		padding-right: 10px;
	}

	.content {
		width: 100%;
	}

	#slider {
		height: auto;
	}

	#slider_wrap ul li {
		height: auto;
		padding: 50px 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	#slider_wrap ul li img {
		width: 40%;
		margin: 0;
	}

	.right_sl {
		width: 370px;
		margin: 0;
	}

	#library {
		padding: 0 10px;		
	}

	#books {
		display: flex;
		flex-wrap: wrap;
	}

	#books .one_book:nth-child(n) {
		width: calc(25% - 10px);
		margin: 5px;
		margin-bottom: 10px;
	}

	.one_book img {
		max-width: 100%;
	}

	.one_book .descr {
		width: 100%;
	}

	.more {
		margin-left: auto;
	}

	#about {
		padding: 0 10px;
	}

	#gallery {
		padding: 0 10px;
		width: calc(100% - 20px);
	}

	.gallery__item {
		overflow: hidden;
	}

	#gallery_wrap ul li {
		height: auto;
	}

	#gallery_wrap ul li a {
		width: 100%;
		height: auto;
	}

	#gallery_wrap ul li a img {
		width: 100%;
		height: auto;
	}

	.reviews {
		display: flex;
	}

	.review:nth-child(n) {
		width: calc(33% - 40px);
		margin: 0 20px;
	}

	#contacts {
		padding: 0 10px;
	}

	#bottom {
		padding: 20px 10px;
	}

	#bottom .content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#bmenu {
		width: 100%;
		margin-right: 0;
	}

	#bmenu ul {
		display: flex;
		justify-content: space-between;
	}

	#bmenu ul li a {
		margin-right: 0;
	}

	#bcontacts {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 60%;2
	}

	.one_contact {
		width: 50%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	#blogo {
		align-self: center;
		width: 40%;
		text-align: center;
	}

	footer {
		padding: 0 10px;
	}

	footer .content {
		display: flex;
		justify-content: space-between;
	}

	#help {
		margin-left: 0;
	}

	footer br {
		display: none;
	}

	#content {
		padding: 0 10px;
	}

	#content img {
		width: 100%;
		height: auto!important;
		margin: 0;
	}

	.articles {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.article-block {
		width: calc(33% - 20px);
		margin: 10px;
	}

	.article-block {
		display: flex;
		flex-direction: column;
	}

	.article-block .image {
		width: 100%;
		margin-left: 0;
	}

	.article-block .text {
		height: auto;
	}

	.article-block .date {
		margin-top: auto;
	}

	.article-block .title {
		height: 75px;
		display: flex;
		align-items: center;
	}
}

@media screen and (max-width: 800px) {
	#logo {
		width: 120px;
	}

	#logo img {
		width: 100%;
	}

	#menu ul li a {
		font-size: 14px;
	}

	#writeus {
		font-size: 14px;
		line-height: 20px;
		background-position: 105px 7px;
	}

	#hphone {
		font-size: 21px;
	}

	#slider_wrap ul li {
		padding: 20px 0;
	}

	.reviews {
		flex-wrap: wrap;
	}

	.review:nth-child(n) {
		width: 100%;
		margin: 0;
	}

	#cont_form {
		position: static;
		margin: 20px 0;
	}
}

@media screen and (max-width: 719px) {
	body {
		padding-top: 100px;
	}

	header {
		width: 100%;
		flex-direction: column;
		flex-wrap: wrap;
		height: 100px;
		padding: 10px;
		background-color: white;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		z-index: 109;
	}

	header br {
		display: none;
	}

	.overflow {
		overflow: hidden;
	}

	.overlay-menu {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 10;
		display: none;
	}

	#logo {
		height: 100%;
		display: flex;
		align-items: center;
	}

	#writeus {
		margin-right: 0;
		margin-left: auto;
		margin-top: 0;
		order: 1;
	}

	#hphone {
		padding-right: 0;
		margin: 5px 0;
		margin-left: auto;
		line-height: 28px;
		background-position: 0;
	}

	#menu {
		align-items: flex-start;
		width: 320px;
		height: calc(100% - 99px);
		position: fixed;
		left: -320px;
		top: 99px;
		background-color: white;
		transition: 0.3s;
		overflow: auto;
	}

	#menu ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	#menu ul li {
		margin: 15px 0;
	}

	#menu ul li:before {
		content: none;
	}

	#menu ul li a {
		font-size: 18px;
	}

	#menu._open {
		left: 0;
	}

	.header-mobile {
		display: block;
		position: absolute;
		left: 0;
		bottom: -38px;
		background: white;
		width: 40px;
		height: 40px;
		border-bottom-right-radius: 6px;
		transition: 0.3s;
		opacity: 0.6;
		cursor: pointer;
	}

	.header-mobile:hover {
		opacity: 1;
	}

	.header-mobile._open {
		left: 280px;
		opacity: 1;
	}

	.header-mobile span,
	.header-mobile::before,
	.header-mobile::after {
		content: "";
		display: block;
		width: 24px;
		height: 3px;
		border-radius: 6px;
		background-color: #e5be07;
		position: absolute;
		left: 8px;
		top: 17px;
		transition: 0.3s;
	}

	.header-mobile span {
		box-shadow: 0 10px 0 0 #e5be07, 0 -10px 0 0 #e5be07;
	}

	.header-mobile._open span {
		opacity: 0;
		box-shadow: none;
	}

	.header-mobile._open::before {
		transform: rotate(45deg);
	}

	.header-mobile._open::after {
		transform: rotate(-45deg);
	}

	#slider_wrap ul li {
		flex-direction: column;
		padding: 20px;
		box-sizing: border-box;
	}

	#slider_wrap ul li img {
		width: 270px;
	}

	.title_sl {
		font-size: 58px;
		line-height: 58px;
	}

	.subtitle_sl {
		font-size: 58px;
		line-height: 58px;
	}

	.right_sl {
		width: 100%;
		text-align: center;
	}

	.desc_sl {
		width: 100%;
	}

	#paginate {
		margin: 20px 0;
	}

	#books .one_book:nth-child(n) {
		width: calc(33% - 10px);
	}

	#bottom .content {
		flex-direction: column;
		align-items: center;
	}

	#blogo {
		order: -1;
		width: 100%;
		margin-bottom: 30px;
	}

	#bcontacts {
		width: 100%;
	}

	/*#bmenu {
		margin-bottom: 30px;
	}*/

	#bmenu {
		display: none;
	}

	#bottom .content > br {
		display: none;
	}

	.article-block {
		width: calc(50% - 20px);
	}
	.slider__item .inner {
		width: 100%;
	}
	.slider__item .inner .right_sl {
		padding-left: 0;
		margin-top: 10px;
		text-align: center;
	}
}

@media screen and (max-width: 540px) {
	#books .one_book:nth-child(n) {
		width: calc(50% - 10px);
	}

	.gallery__item {
		width: calc(5% / 3);
	}

	/*#bmenu ul {
		flex-direction: column;
		align-items: center;
	}

	#bmenu ul li {
		margin-bottom: 15px;
	}*/

	#bcontacts {
		flex-direction: column;
		align-self: center;
	}

	.one_contact {
		width: 100%;
		text-align: center;
	}

	#help {
		display: none;
	}

	#content .content img {
		float: none!important;
		width: 100%!important;
		max-width: none!important;
		margin: 0!important;		
	}

	.float-image {
		float: none!important;
		width: 100%!important;
		margin-left: 0!important;
	}

	.article-block {
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}

	.article-block .title {
		height: auto;
		padding: 10px;
	}

	.phone-block div a {
		display: block;
	}

	.phone-block div img {
		display: none;
	}

	#orderformbig input {
		display: block;
		width: 100%;
	}
	.simple_send {
		padding-left: 20px;
		padding-right: 20px;
	}
	#orderformbig .simple_submit {
		margin-left: 0;
	}

	.adv-icons {
  		flex-direction: column;
	}
	.adv-icons div {
		margin: 0 0 20px;
	}
}

@media screen and (max-width: 440px) {
	#hphone {
		font-size: 17px;
	}

	.title_sl {
		font-size: 44px;
		line-height: 44px;
	}

	.subtitle_sl {
		font-size: 44px;
		line-height: 44px;
	}

	#books .one_book:nth-child(n) {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.book_title {
		height: auto;
		margin-bottom: 15px;
	}

	#content .one_book img {
		margin-bottom: 15px!important;
	}

	.one_book .descr {
		text-align: center;
	}

	.gallery__item {
		width: calc(5% / 2);
	}

	.simple_form input {
		width: 100%;
		box-sizing: border-box;
		height: 34px;
	}

	.simple_form textarea {
		width: 100%;
		box-sizing: border-box;
	}

	#orderform {
		width: 300px;
	}

	.book-image {
		float: none!important;
		width: 100%!important;
		height: auto!important;
		margin: 0!important;
	}
}